<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @student.phone_number %>
</p>

<br />

<%= link_to 'Edit', edit_group_student_path(@group, @student) %> |
<%= link_to 'Back', group_students_path(@group) %>
