<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @student.phone_number %>
</p>

<div>
  Answers:
  <% @grouped_answers.each do |(destination, answers)| %>
    <ul>
      <li>
        <%= destination.try(:name) || "unknown destination" %>
        <ol>
          <% answers.each do |a| %>
            <li><%= a.question.try(:content) || "unknown question" %>:
            <%= a.content %></li>
          <%end%>
        </ol>
      </li>
    </ul>
  <% end %>
</div>
<br />

<%= link_to 'Edit', edit_group_student_path(@group, @student) %> |
<%= link_to 'Back', group_students_path(@group) %>
