<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= hidden_field :group, :user_id, :value => current_user.id %>

  <div class="field small">
    <%= f.label :title, "Group Name" %>
    <%= f.text_field :title %>
  </div>
  <div class="field small">
    <%= f.label :description, "Group Description" %>
    <%= f.text_field :description %>
  </div>
  <div class="field small">
    <%= f.label :replies_all_false, "member replies are forwarded to you only" %>
    <%= f.radio_button :replies_all, false %>
    <%= f.label :replies_all_true, "member replies are forwarded to whole group" %>
    <%= f.radio_button :replies_all, true %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save", :class => "button" %>
  </div>
<% end %>
