<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= hidden_field :group, :user_id, :value => current_user.id %>
  <div class="field small">
    <%= f.label :title, "Name" %>
    <%= f.text_field :title %>
  </div>
  <div class="field small">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
  </div>
  <div class="field small">
    <br>
    <h5>When a Member Messages the Group:</h5>
    <%= f.radio_button :replies_all, false %>
    <%= f.label :replies_all_false, "Only you receive the message", :class => "inline" %><br>
    <%= f.radio_button :replies_all, true %>
    <%= f.label :replies_all_true, "All members receive the message", :class => "inline" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save", :class => "button" %>
  </div>
<% end %>
