<% if @group.students.blank? %>
	<h5>There are no members in this group.</h5>
	<%= link_to 'Add Member', new_group_student_path(@group), :class => 'button left minor margin_top' %>

<% else %>
	<ul id="student_list">
    <%= render :partial => "students/editable", :collection => @group.students, :as => :member %>
    <li>
      
      <%= nested_form_for @group, :url => create_multiple_group_students_path(@group), :html => {:method => :post} do |f|%>
        <% f.fields_for :students, [] do |sf| %>
          <span class="formwrap members">
            <%= sf.link_to_remove "remove", :class => "right", :id => 'remove_member' %>
            <%= sf.text_field :name, :class => "member_info number", :title => "Name" %><span class="member_info label">Name</span>
            <%= sf.text_field :phone_number, :class => "member_info number", :title => "Mobile Number" %><span class="member_info label">SMS Number</span>
            <%= sf.text_field :email, :class => "member_info number", :title => "Email" %><span class="member_info label">Email</span>
          </span>
        <% end %>
        <%= f.link_to_add "New Member", :students, :class => 'button minor right', :id => "add_multiple_members" %>
        <%= f.submit "Save All", :class => 'button minor', :id => "save_multiple_members" %>
      <% end %>
      
    </li>
  </ul>
<% end %>

<br><br>

<%= form_for @group, :url=>bulk_upload_students_group_path(@group), :html=>{:method=>:post, :multipart=>true}  do |f| %>
  <div class="field">
    <%= label :upload, "Bulk Add Members (CSV)", :for=>"upload[csv]" %>
    <%= file_field :upload, :csv %>
  </div>
  <div class="actions">
    <%= f.submit "Upload CSV", :class => 'button minor left margin_top' %>
  </div>
<%end%>