<% if @group.students.blank? %>
  <h6>To begin, you must first add some members to this group!</h6><p>You can add members individually, or upload a CSV containing rows of name, mobile number, and email. To generate a CSV, perform "Save As" on an Excel spreadsheet.</p><br>
<% end %>

<ul id="student_list">
  <%= render :partial => "students/editable", :collection => @group.students.select(&:persisted?), :as => :member %>
  <li>

    <%= nested_form_for @group, :url => create_multiple_group_students_path(@group), :html => {:method => :post} do |f|%>
      <% f.fields_for :students, @group.students.reject(&:persisted?) do |sf| %>
        <span class="formwrap members">
          <%= render :partial => "shared/errors", :locals => {:record=> sf.object} %>
          <%= sf.link_to_remove "remove", :class => "right", :id => 'remove_member' %>
          <%= sf.text_field :name, :class => "member_info number", :title => "Name" %><span class="member_info label">Name</span>
          <%= sf.text_field :phone_number, :class => "member_info number", :title => "Mobile Number" %><span class="member_info label">SMS Number</span><br>
          <%= sf.text_field :email, :class => "member_info number", :title => "Email" %><span class="member_info label">Email</span><br>
        </span>
      <% end %>
      <%= f.link_to_add "New Member", :students, :class => 'button right', :id => "add_multiple_members" %>
      <%= f.submit "Save New Members", :class => 'button minor', :id => "save_multiple_members" %>
    <% end %>

  </li>
</ul>

<br><br>

<%= form_for @group, :url=>bulk_upload_students_group_path(@group), :html=>{:method=>:post, :multipart=>true}  do |f| %>
  <div class="field">
    <%= label :upload, "Bulk Add Members (CSV)", :for=>"upload[csv]" %>
    <%= file_field :upload, :csv %>
  </div>
  <div class="actions">
    <%= f.submit "Upload CSV", :class => 'button minor left margin_top' %>
  </div>
<%end%>