<div id="group_header">
	<ul id="group_nav">
		<li>
			<%= link_to group_path(@group) do %>
				<div id="message_nav" class="group_nav_item <%= "active" if current_page?(group_path(@group))%>"></div>
			<% end %>
			<div class="group_nav_text">
				<div id="messages">
					<div class="arrow_up_small"></div>
					<span class="group_nav_text_element contexual_popup">Messages</span>
				</div>
			</div>
		</li>
		<li>
			<%= link_to group_destinations_path(@group,@destination) do %>
				<div id="checkins_nav" class="group_nav_item <%= "active" if current_page?(group_destinations_path(@group,@destination))%>"></div>
			<% end %>
			<div class="group_nav_text">
				<div id="checkins">
					<div class="arrow_up_small"></div>
					<span class="group_nav_text_element contexual_popup">Check Ins</span>
				</div>
			</div>
		</li>
		<li>
			<%= link_to members_group_path(@group) do %>
				<div id="members_nav" class="group_nav_item <%= "active" if current_page?(members_group_path(@group))%>"></div>
			<% end %>
			<div class="group_nav_text">
				<div id="members">
					<div class="arrow_up_small"></div>
					<span class="group_nav_text_element contexual_popup">Members</span>
				</div>
			</div>
		</li>
		<li>
			<%= link_to edit_group_path(@group) do %>
				<div id="settings_nav" class="group_nav_item <%= "active" if current_page?(edit_group_path(@group))%>"></div>
			<% end %>
			<div class="group_nav_text">
				<div id="settings">
					<div class="arrow_up_small"></div>
					<span class="group_nav_text_element contexual_popup">Settings</span>
				</div>
			</div>
		</li>
	</ul>
	<div id="group_number">
        <h3 class="right josefin">
            <%= PhoneValidator::OUTPUT_PRINTF%@group.phone_number.scan(/\d/) %>
        </h3>
    </div>
</div>
<div style="position:absolute;">
	<div id="group_number_info">
		<div class="arrow_up_small group_number_info"></div>
		<div class="group_nav_text_element contexual_popup group_number_info center">
			<span class="bold">The Group Number</span>
			<ul class="contextual_popup_list">
				<li>All text messages are from this number, keeping your personal number private</li>
				<li>Text messages from your phone to the group number are forwarded to all members from "<%= current_user.display_name %>"</li>
				<li>Text messages members send to this number are forwarded only to you</li>
			</ul>
			<div class="contextual_popup_actions">
				<a href="javascript:dismissContextualPopup()" class="contextual_popup_dismiss">OK</a><a href="javascript:dismissContextualPopup()" class="contextual_popup_kill"> </a>
			</div>
		</div>
	</div>
</div>