<div id="groups">
    <div id="group_list">
	    <%= render :partial => 'group_list' %>
    </div>
    <div id="group_list_bottom">
        <div class="field_description margin large"><%= @groups.count %> groups</div>
        <%= link_to "Add New Group", new_group_path, :class => 'button' %>
    </div>
</div>
<div id="group_content">
	<ul>
		<li><%= link_to 'Send Message', group_destinations_path(@group,@destination), :class => 'button' %></li>
		<li><%= link_to 'Plan Field Trip', group_destinations_path(@group,@destination), :class => 'button' %></li>
		<li><%= link_to 'Manage Members', group_destinations_path(@group,@destination), :class => 'button' %></li>
		<li><%= link_to 'Delete Group', @group, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %></li>
	</ul>
</div>