<div id="groups">
    <div id="group_list">
        <div id="group_list_gradient">
            <% if @groups.blank? %>
            	<h3>You haven't yet created any groups.</h3><br><%= link_to 'Make my first group!', new_group_path, :class => "button" %>
            <% else %>
            			<% @groups.each do |group| %>
            				<a class="group_list_item" href="<%= group_path(group) %>">
            							<span class="left">
            								<span class="groups primary josefin bold"><%= group.title %></span>
            								<span class="groups secondary"><%= group.description %></span>
            							</span>
                                        <!-- <span class="right josefin bold">
                                            <span class="groups primary"><%= PhoneValidator::OUTPUT_PRINTF%group.phone_number.scan(/\d/) %></span><br>
                                            <span class="groups secondary right"><%= pluralize group.students.count, "member" %></span>
                                        </span> -->
            				</a>
            			<% end %>
            <% end %>
        </div>
    </div>
    <div id="group_list_bottom">
        <div class="field_description margin large">7 groups</div>
        <%= link_to "Add New Group", new_group_path, :class => 'button' %>
    </div>
</div>
<div id="group_content">
    This is some content
</div>