<div class="left">
  <h2>Edit Account</h2>

  <%= form_for(resource, :as => resource_name, :url => profile_path, :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :display_name %>
        <%= f.text_field :display_name %>
        <span class="field_description">A short name displayed in text messages you send</span>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :phone_number, "Mobile Number" %>
        <%= f.text_field :phone_number %>
        <span class="field_description">SMS messages will be sent to this number (optional)</span>
      </div>
      <div class="field">
        <%= f.label :current_password, "Current Password" %>
        <%= f.password_field :current_password %>
      </div>
      <p><%= link_to "Change password »", edit_password_of_profile_path, :class => "right" %></p><br>
    </fieldset>
    <%= link_to "Cancel", groups_path, :class => "button secondary left" %>
    <%= f.submit "Save", :class => "button right" %>
    <br><br><br>
</div>
<% end %>
