  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address, "Location" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :hashtag %>
    <%= f.text_field :hashtag %>
    <span class="field_description">e.g. "historymuseum" or "mathquiz6"</span>
  </div>
  
  <div id="questions_form">
    <%= f.fields_for :questions do |qf| %>
      <div class="field">
        <%= qf.label :content %>
        <%= qf.text_field :content %>
      </div>
      <%= qf.link_to_remove "Remove this question" %>
    <% end %>
    <%= f.link_to_add "Add a new question", :questions %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
