<div id="groups">
    <div id="group_list">
	    <%= render :partial => 'groups/group_list' %>
    </div>
    <div id="group_list_bottom">
        <div class="field_description margin large"><%= @groups.count %> groups</div>
        <%= link_to "Add New Group", new_group_path, :class => 'button' %>
    </div>
</div>
<div id="group_content">
	<div id="group_header">
		<ul id="group_nav">
			<li>
				<a href="<%= group_path(@group) %>"><div id="message_nav" class="group_nav_item"></div></a>
				<div class="group_nav_text">
					<div id="messages">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Messages</span>
					</div>
				</div>
			</li>
			<li>
				<%= link_to group_destinations_path(@group) do %>
					<div id="checkins_nav" class="group_nav_item active"></div>
				<% end %>
				<div class="group_nav_text">
					<div id="checkins">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Check Ins</span>
					</div>
				</div>
			</li>
			<li>
				<a href="<%= group_path(@group) %>"><div id="members_nav" class="group_nav_item"></div></a>
				<div class="group_nav_text">
					<div id="members">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Members</span>
					</div>
				</div>
			</li>
			<li>
				<%= link_to edit_group_path(@group) do %>
					<div id="settings_nav" class="group_nav_item"></div>
				<% end %>
				<div class="group_nav_text">
					<div id="settings">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Settings</span>
					</div>
				</div>
			</li>
		</ul>
		<div id="group_number">
	        <h3 class="right josefin">
	            <%= PhoneValidator::OUTPUT_PRINTF%@group.phone_number.scan(/\d/) %>
	        </h3>
	    </div>
	</div>
	<div id="destinations">
		<% if @group.destinations.empty? %>
			<h2 class="oswald grabber checkin">Hey, looks like you're about to add your first ClassTalk check in!</h2>
			<p class="leading">
				Check Ins encourage your students to explore outside class using their cell phones. Think of them like location-aware worksheets, powered by text message. Sometimes we call them Mind Tours (it sounds cooler).
			</p>
			<p class="leading">
				Whether a location around the city or a simple quiz for review, Check Ins let you write questions that students must activate with a #hashtag and answer through text message. You can then view each student's responses right here in ClassTalk. Here are some ways cutting-edge teachers like you are using Check Ins:
			</p>
			<ul class="in_paragraph">
				<li>Encourage a visit to the museum, library, or theater</li>
				<li>Help review for a test with sample questions</li>
				<li>Assign and take a quiz</li>
				<li>Create interactive guided tours</li>
				<li>Make surveys or polls</li>
				<li>Got another great use? <a href="mailto:scott@codeforamerica.org">Let us know!</a></li>
			</ul>
			<p class="leading">
				So what are you waiting for? Start adding some Check Ins!
			</p>
			<% else %>
			<table>
				<% @group.destinations.each do |destination| %>
				  <tr class="destination_row">
					<td class="destination_image">
						<img src="../../../images/destinations/map_pin2.png" width="80" height="80" alt="Map Pin">
						<span class="hashtag oswald">#<%= destination.hashtag %></span>
					</td>
					<td>
						<div class="destination_info">
							<span class="destination_name josefin"><%= destination.name %></span>
							<span class="destination_notes"><%= destination.notes %></span>
						</div>
					</td>
					<td>
						<%= link_to 'Show', group_destination_path(@group,destination) %>
					</td>
				  </tr>
				<% end %>
			</table>
		<% end %>
		<div class="add_list_item">
			<%= link_to 'New Check In', new_group_destination_path(@group), :class => "button" %>
		</div>
	</div>
</div>
