<%= render :partial => 'groups/sidebar' %>
<div id="group_content">
	<%= render :partial => 'groups/nav' %>
	<div id="destinations">
		<% if @group.destinations.empty? %>
			<h2 class="oswald grabber checkin">ClassTalk Questions</h2>
			<p class="leading">
			  Questions let your students learn and explore outside class with their cell phones. Think of them like interactive worksheets, powered by text message.
			</p>
			<p class="leading">
				Whether a location around the city or a simple quiz for review, Questions let you write questions that students activate with a #hashtag and answer through text message. You can view each student's responses right here in ClassTalk. Here are some ways teachers are using Questions:
			</p>
			<ul class="in_paragraph">
				<li>Interact during a visit to the museum, library, or theater</li>
				<li>Help review for a test with sample questions</li>
				<li>Assign and take a quiz</li>
				<li>Create interactive guided tours</li>
				<li>Make surveys or polls</li>
				<li>Got another great use? <a href="mailto:scott@codeforamerica.org">Let us know!</a></li>
			</ul>
			<p class="leading">
				So what are you waiting for? Start adding some Questions!
			</p>
		<% else %>
			<div id="destinations_list">
				<% @group.destinations.each do |destination| %>
					<a href="<%= group_destination_path(@group,destination) %>" class="formwrap list destinations">
						<div class="destination rightbox">
							<span class="destination hashtag oswald">#<%= destination.hashtag %></span>
							<span class="destination questions_number"><%= pluralize(destination.questions.count, "question") %></span>
						</div>
						<span class="destination name josefin grabber"><%= destination.name %></span>
						<span class="destination address"><%= destination.address %></span>
						<span class="destination notes"><%= destination.notes %></span>
					</a>
				<% end %>
			</div>
		<% end %>
		<div class="add_list_item">
			<%= link_to 'Add Questions', new_group_destination_path(@group), :class => "button" %>
		</div>
	</div>
</div>
