<div id="groups">
    <div id="group_list">
	    <%= render :partial => 'groups/group_list' %>
    </div>
    <div id="group_list_bottom">
        <div class="field_description margin large"><%= @groups.count %> groups</div>
        <%= link_to "Add New Group", new_group_path, :class => 'button' %>
    </div>
</div>
<div id="group_content">
	<div id="group_header">
		<ul id="group_nav">
			<li>
				<a href="<%= group_path(@group) %>">Message</a>
			</li>
			<li><%= link_to 'Field Trips', group_destinations_path(@group,@destination) %></li>
			<li>
				<a href="<%= group_path(@group) %>">Members</a>
			</li>
			<li><%= link_to 'Settings', edit_group_path(@group) %></li>
		</ul>
		<div id="group_number">
	        <h3 class="right josefin">
	            <%= PhoneValidator::OUTPUT_PRINTF%@group.phone_number.scan(/\d/) %>
	        </h3>
	    </div>
	</div>
	<div id="destinations">
		<table>
		<% @group.destinations.each do |destination| %>
		  <tr class="destination_row">
			<td class="destination_image">
				<img src="../../../images/destinations/map_pin2.png" width="80" height="80" alt="Map Pin">
				<span class="hashtag oswald">#<%= destination.hashtag %></span>
			</td>
			<td>
				<div class="destination_info">
					<span class="destination_name josefin"><%= destination.name %></span>
					<span class="destination_notes"><%= destination.notes %></span>
				</div>
			</td>
			<td>
				<%= link_to 'Show', group_destination_path(@group,destination) %>
			</td>
		  </tr>
		<% end %>
		</table>
		<div class="add_list_item">
			<%= link_to 'Add Field Trip', new_group_destination_path(@group), :class => "button" %>
		</div>
	</div>
</div>
