<%= render :partial => 'groups/sidebar' %>
<div id="group_content">
	<%= render :partial => 'groups/nav' %>
	<div id="destinations">
		<% if @group.destinations.empty? %>
			<h2 class="oswald grabber checkin">ClassTalk Questions</h2>
			<img src="/images/destinations/iphone.png" align="right" width="257" height="500" alt="Students answer ClassTalk Questions through their cell phone, by texting a #hashtag to the group number." class="destination iphone">
			<p class="leading">
			  Questions let your students learn and explore outside class with their cell phones. Think of them like interactive worksheets, powered by text message.
			</p>
			<p class="leading">
				Whether a museum in the city or a math quiz for review, students can activate Questions with a #hashtag and then answer through text message. You can view their responses right here in ClassTalk. Here are some ways teachers are using Questions:
			</p>
			<ul class="in_paragraph">
				<li>Let students interact during a visit to the museum, library, or theater</li>
				<li>Study with sample test questions</li>
				<li>Assign and take a quiz</li>
				<li>Create interactive guided tours</li>
				<li>Make surveys or polls</li>
				<li>Got another great use? <a href="mailto:scott@codeforamerica.org">Let us know!</a></li>
			</ul>
			<p class="leading">
				Get started with your first set of Questions below! There's no limit to how many sets you make.
			</p>
		<% else %>
			<div id="destinations_list">
				<% @group.destinations.each do |destination| %>
					<a href="<%= group_destination_path(@group,destination) %>" class="formwrap list destinations">
						<div class="destination rightbox">
							<span class="destination hashtag oswald">#<%= destination.hashtag %></span>
							<span class="destination questions_number"><%= pluralize(destination.questions.count, "question") %></span>
						</div>
						<span class="destination name josefin grabber"><%= destination.name %></span>
						<span class="destination address"><%= destination.address %></span>
						<span class="destination notes"><%= destination.notes %></span>
					</a>
				<% end %>
			</div>
		<% end %>
		<div class="add_list_item">
			<%= link_to 'Add Questions »', new_group_destination_path(@group), :class => "button" %>
		</div>
	</div>
</div>
