<%= render :partial => 'groups/sidebar' %>
<div id="group_content">
	<%= render :partial => 'groups/nav' %>
	<div>
		<div class="page_actions top">
			<%= link_to '« Check In', group_destination_path(@group,@destination), :class => "button minor left" %>
			<a class="button minor right margin_left" onClick="$('.responses_student').show();">Expand All</a>
			<%= link_to "Download All", responses_group_destination_path(@group, @destination, :format => "csv"), :class => "button minor right" %>
		</div>
		<% @responses_by_student.each do |student,responses| %>
			<a class="formwrap list destinations" onClick="$('#responses_student_<%= student.id.to_s %>').show();">
				<span class="destination name josefin grabber"><%= student.name %></span>
				<span class="destination answers_number"><%= pluralize(responses.count, "response") %></span>
				<ol id="responses_student_<%= student.id.to_s %>" class="responses_student">
					<% responses.each do |response| %>
						<li class="destination question">
							<%= response.question.content %>
						</li>
						<div class="destination answers">
							<span class=""><%= response.content %></span>
							<span class="destination answer_time"><%= formatted_time(response.question.created_at) %></span>
			        	</div>
					<% end %>
				</ol>
			</a>
		<% end %>
	</div>
</div>