<div id="groups">
    <div id="group_list">
	    <%= render :partial => 'groups/group_list' %>
    </div>
    <div id="group_list_bottom">
        <div class="field_description margin large"><%= @groups.count %> groups</div>
        <%= link_to "Add New Group", new_group_path, :class => 'button' %>
    </div>
</div>
<div id="group_content">
	<div id="group_header">
		<ul id="group_nav">
			<li>
				<a href="<%= group_path(@group) %>"><div id="message_nav" class="group_nav_item"></div></a>
				<div class="group_nav_text">
					<div id="messages">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Messages</span>
					</div>
				</div>
			</li>
			<li>
				<%= link_to group_destinations_path(@group) do %>
					<div id="checkins_nav" class="group_nav_item active"></div>
				<% end %>
				<div class="group_nav_text">
					<div id="checkins">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Check Ins</span>
					</div>
				</div>
			</li>
			<li>
				<a href="<%= group_path(@group) %>"><div id="members_nav" class="group_nav_item"></div></a>
				<div class="group_nav_text">
					<div id="members">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Members</span>
					</div>
				</div>
			</li>
			<li>
				<%= link_to edit_group_path(@group) do %>
					<div id="settings_nav" class="group_nav_item"></div>
				<% end %>
				<div class="group_nav_text">
					<div id="settings">
						<div class="arrow_up_small"></div>
						<span class="group_nav_text_element contexual_popup">Settings</span>
					</div>
				</div>
			</li>
		</ul>
		<div id="group_number">
	        <h3 class="right josefin">
	            <%= PhoneValidator::OUTPUT_PRINTF%@group.phone_number.scan(/\d/) %>
	        </h3>
	    </div>
	</div>
	<div>
		<div class="destination_show">
			<span class="destination name show josefin grabber"><%= @destination.name %></span>
			<div class="destination rightbox show">
				<span class="destination hashtag oswald">#<%= @destination.hashtag %></span>
				<span class="destination questions_number"><%= pluralize(@destination.questions.count, "question") %></span>
			</div>
			<span class="destination address show"><%= @destination.address %></span>
			<span class="destination notes show"><%= @destination.notes %></span>
			<ol>
				<% @destination.questions.each do |question| %>
					<li class="destination questions"><%= question.content %></li>
				<% end %>
			</ol>
		</div>
		<div class="page_actions bottom">
			<%= link_to '« All Check Ins', group_destinations_path(@group), :class => "button minor left" %>
			<%= link_to "View Responses »", responses_group_destination_path(@group, @destination), :class => "button minor right" %>
			<div class="center">
				<%= link_to 'Edit', edit_group_destination_path(@group,@destination), :class => "button minor secondary" %>
				<%= link_to 'Delete', group_destination_path(@group,@destination), :confirm => 'Are you sure?', :method => :delete, :class => "button minor destroy" %>
			</div>
		</div>
	</div>
</div>