<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <title>ClassTalk</title>
  <%= stylesheet_link_tag 'reset.css' %>
  <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:regular,bold' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application.css' %>
  <%= stylesheet_link_tag 'print.css', :media => "print" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25442494-1']);
    _gaq.push(['_setDomainName', '.classtalk.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "code_for_america";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#2ea390";
    feedback_widget_options.style = "problem";
    feedback_widget_options.product = "code_for_america_homework_notifier";




    feedback_widget_options.limit = "3";


    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
  <div id="container">
      <div class="top_bar">
          <div id="logo">
              <a href="/" id="logo_text" class="lucky">ClassTalk</a><span id="logo_text_beta">beta</span>
          </div>
          <div id="nav">
              <ul id="main_menu">
                  <h3 class="josefin">
                    <% if user_signed_in? %>
                        <%= render "users/top_bar" %>
                    <% else %>
                        <%= render "layouts/default_top_bar" %>
                    <%end %>
                    <li><a href="http://codeforamerica.org/?cfa_project=whatsassign-me" class="nav_links">ABOUT</a></li>
                  </h3>
              </ul>
          </div>
	</div>
	<%= render :partial => 'layouts/notices' %>

    <% if (params[:action] == 'splash') %>
        <div id="main" class="splash">
	<% elsif (@groups.blank?) || ((params[:action] == 'new') && (params[:controller] == 'groups')) %>
		<div id="main" class="full">
	<% elsif ((params[:controller] == 'groups') || (params[:controller] == 'destinations')) || ((params[:action] != 'new') && (params[:controller] == 'destinations'))%>
		<div id="main" class="groups">
    <% else %>
        <div id="main" class="full">
    <% end %>
            <div class="content">
                <%= yield %>
            </div>
        </div>
    <div id="footer">
              <span>
                  made by <a href="http://codeforamerica.org">Code for America</a> in partnership with the <a href="http://www.newurbanmechanics.org">City of Boston</a>
              </span><br>
              <a href="http://www.codeforamerica.org" target="blank"><img src="/images/cfa_logo.png" width="100" height="41" alt="Code for America" class="cfa_logo"></a>
    </div>
  </div>

  <!-- begin olark code -->

  <script type='text/javascript'>/*{literal}<![CDATA[*/window.olark||(function(i){var e=window,h=document,a=e.location.protocol=="https:"?"https:":"http:",g=i.name,b="load";(function(){e[g]=function(){(c.s=c.s||[]).push(arguments)};var c=e[g]._={},f=i.methods.length; while(f--){(function(j){e[g][j]=function(){e[g]("call",j,arguments)}})(i.methods[f])} c.l=i.loader;c.i=arguments.callee;c.f=setTimeout(function(){if(c.f){(new Image).src=a+"//"+c.l.replace(".js",".png")+"&"+escape(e.location.href)}c.f=null},20000);c.p={0:+new Date};c.P=function(j){c.p[j]=new Date-c.p[0]};function d(){c.P(b);e[g](b)}e.addEventListener?e.addEventListener(b,d,false):e.attachEvent("on"+b,d); (function(){function l(j){j="head";return["<",j,"></",j,"><",z,' onl'+'oad="var d=',B,";d.getElementsByTagName('head')[0].",y,"(d.",A,"('script')).",u,"='",a,"//",c.l,"'",'"',"></",z,">"].join("")}var z="body",s=h[z];if(!s){return setTimeout(arguments.callee,100)}c.P(1);var y="appendChild",A="createElement",u="src",r=h[A]("div"),G=r[y](h[A](g)),D=h[A]("iframe"),B="document",C="domain",q;r.style.display="none";s.insertBefore(r,s.firstChild).id=g;D.frameBorder="0";D.id=g+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){D.src="javascript:false"} D.allowTransparency="true";G[y](D);try{D.contentWindow[B].open()}catch(F){i[C]=h[C];q="javascript:var d="+B+".open();d.domain='"+h.domain+"';";D[u]=q+"void(0);"}try{var H=D.contentWindow[B];H.write(l());H.close()}catch(E){D[u]=q+'d.write("'+l().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)})()})()})({loader:(function(a){return "static.olark.com/jsclient/loader0.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('2369-288-10-5401');/*]]>{/literal}*/
  </script>

  <!-- end olark code -->

</body>
</html>
